body{
    text-align: center;
}
#line1{
    display: flex;
    justify-content: center;
}
#line2{
    display: flex;
    justify-content: center;
}
.button{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 15%;
    margin: 1rem;
   
  
}
.blue{
    background-color:rgb(0, 229, 255) ;
}
.green{
background-color: rgb(118, 255, 3);
}
.yellow{
background-color:rgb(255, 234, 0) ;
}
.red{
background-color:rgb(255, 23, 68) ;
}
.flash{
    background-color: white;
     animation: flashAnim 300ms ease-in-out;
 
  transform-origin: center;
  z-index: 2; 
}
#h4{
    position: absolute;
    right: 200px;
}

.ani{

  animation: flashAnim 300ms ease-in-out;
 
  transform-origin: center;
  z-index: 2; 
}

.button{
  transition: transform 120ms ease, box-shadow 120ms ease, filter 120ms ease;
}


@keyframes flashAnim {
  0% {
    transform: scale(1);
    filter: brightness(1);
    box-shadow: 0 0 0 rgba(255,255,255,0);
  }
  40% {
    transform: scale(1.08);
    filter: brightness(1.6);
    box-shadow: 0 6px 20px rgba(255,255,255,0.6);
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
    box-shadow: 0 0 0 rgba(255,255,255,0);
  }
}
